<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2001</string>
	<string>Blade-Runner</string>
	<string>ET</string>
	<string>Jaws</string>
	<string>Raiders-of-the-Lost-Ark</string>
	<string>Star-Wars</string>
</array>
</plist>
